# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

# ----- DIGIPEN ENGINE -----
.vs/
bin/
.tmp/
Shaders/*.spv
build*/

# Digipen Engine C# Scripting
EngineScripting/.vs
EngineScripting/bin
EngineScripting/obj/*
Assets/obj/
Assets/EngineScripting.dll
Assets/EngineScripting.pdb
Assets/UserAssembly.dll
*.spv
.vs/

# Android
/assets/bistro 
/assets/sponza-gltf-pbr
/android/.gradle/
/android/.idea/
/android/app/build/
/android/app/.cxx/
/android/build/
/android/captures/
/android/local.properties
/android/install
*repomix*

# Asset compiler stuff
Tools/Debug/CompileResult.json