# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Assets/compiledassets/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

# ----- DIGIPEN ENGINE -----
.vs/
bin/
.tmp/
Shaders/*.spv
build*/

# Digipen Engine C# Scripting
EngineScripting/.vs
EngineScripting/bin
EngineScripting/obj/*
Assets/obj/
Assets/EngineScripting.dll
Assets/EngineScripting.pdb
Assets/UserAssembly.dll
*.spv
.vs/
/Tools

# Android
/assets/bistro 
/assets/sponza-gltf-pbr
/android/.gradle/
/android/.idea/
/android/app/build/
/android/app/.cxx/
/android/build/
/android/captures/
/android/local.properties
/android/install
*repomix*

# Asset compiler stuff
Tools/Debug/CompileResult.json
# Android build assets (copied from Assets/ during build)
android/app/src/main/assets/Fonts/
android/app/src/main/assets/behaviourtrees/
android/app/src/main/assets/compiledassets/
android/app/src/main/assets/images/
android/app/src/main/assets/models/
android/app/src/main/assets/navmeshdata/
android/app/src/main/assets/prefabs/
android/app/src/main/assets/scenes/
android/app/src/main/assets/scripts/
android/app/src/main/assets/sounds/

# Log files
*.log
console_log.txt
crash_log.txt
engine_output.txt

# IDE
.idea/

# Misc
nul
Assets/asset_manifest.txt
imgui.ini
