[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "extern/KTX-Software"]
	path = extern/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/LuaBridge3"]
	path = extern/LuaBridge3
	url = https://github.com/kunitoki/LuaBridge3.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/quill"]
	path = extern/quill
	url = https://github.com/odygrd/quill.git
[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/recastnavigation"]
	path = extern/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "extern/SPIRV-Cross"]
	path = extern/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "extern/SPIRV-Reflect"]
	path = extern/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype.git
[submodule "extern/glslang"]
	path = extern/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/lua/lua.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/ImGuizmo"]
	path = extern/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "extern/SPIRV-Tools"]
	path = extern/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "extern/SPIRV-Headers"]
	path = extern/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
